<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Slots</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="slotsApp">

    <div class="container" ng-controller="MainCtrl">

      <div class="row">
        <div class="col-sm-6">

          <div ng-repeat="slot in slotsData" class="col-sm-4 slot" ng-cloak>
            {{prizeDescription[slot[0]][$index]}}
          </div>
          <div ng-repeat="slot in slotsData" class="col-sm-4 slot" ng-class="{'bg-success': winningNumber >= 0}" ng-cloak>
            {{prizeDescription[slot[1]][$index]}}
          </div>
          <div ng-repeat="slot in slotsData" class="col-sm-4 slot" ng-cloak>
            {{prizeDescription[slot[2]][$index]}}
          </div>

        </div>
        <div class="col-sm-6">
          <div class="well spin">
            <button ng-click="spin()" class="btn btn-primary btn-block" ng-disabled="winningNumber >= 0">SPIN</button>
          </div>
        </div>
      </div>

      <div ng-show="winningNumber >= 0" class="alert bg-success" ng-cloak>
        We have a winner! {{prizes[winningNumber]}}
        <button ng-click="claimPrize()" class="btn btn-success">Claim Prize</button>
      </div>

    </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <!-- endbuild -->

</body>
</html>
